<?xml version="1.0" encoding="UTF-8"?>
<robot name="plane">
    <material name="grey">
        <color rgba="150 150 150 255"/>
    </material>
    <link name="base_link">
        <visual>
            <geometry>
                <box size="4.0 4.0 0.125"/>
            </geometry>
            <material name="white"/>
        </visual> 
        <collision>
            <geometry>
                <box size="4.0 4.0 0.125"/>
            </geometry>
        </collision> 
        <inertial>
            <mass value="0"/>
           <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>    
    </link>
    <contact> 
        <lateral_friction value="4"/>
    </contact>
</robot>